

    <footer>
       Copyright nobin
    </footer>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-eMN2JKbQu2u3H7gIjKYgJ4znZ9v0CDA3p6qW9jIaXYAe2eoaRQDSqzroXuFiTF7S" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyOQFOhZiMquF4ISjV6C1fFW2O5qD1BzQ" crossorigin="anonymous"></script>
</body>
</html>